{{>head}}
{{>navbar}}

<div class="jumbotron">
    <h1 class="display-4">PÁGINA WEB, Curso NodeJS | <br> user: {{capitalizar nombre}}</h1>
    <p class="lead">Vivas Castillo Matías Gonzalo, dia {{getDiasDeCuarentena}}, sin síntomas...</p>
    <p class="lead">Fecha: {{getAnio}}, durante la cuarentena obligatoria en Argentina ...</p>
    <hr class="my-4">
    <a class="btn btn-danger btn-xs" role="button">Boton al pedo, apretá en "About"</a>
</div>

{{>footer}}